@import '../../assets/styles/variables.less';

.main-layout {
  min-height: 100vh;

  .site-layout-sider {
    background: @component-background;
  }

  .site-layout-content {
    min-height: calc(100vh - 64px - 48px);
    background: @background-color;
  }
}
